header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    list-style: none;
    margin-top: 15px;
}
header nav ul li .enlace {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px;
}

// ----------Login y registro----------
#containerLogin {
    box-shadow: 2px 4px 5px 2px #cccc;
    border-radius: 20px;
    padding: 20px;
}