@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
/* ====================
        VARIABLES
==================== */
/* ====================
        HEADER
==================== */
header {
  background-color: #1c2e47;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #EEEEEE;
  padding-left: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px 50px 10px 10px;
  padding: 0px;
}

header nav ul li .enlace {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

header nav ul li .enlace:hover {
  color: black;
  background-color: #EEEEEE;
}

header nav ul li .enlace .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li .enlace .menu-item p {
  margin: 0px;
  padding-right: 10px;
}

header nav ul li .enlace .menu-item #img {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYEAQAAAAa7ikwAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAAYAAAAGAA8GtCzwAAAAd0SU1FB+cGBg8cNKEhxTMAAAFUSURBVEjH7ZK9agJREIV3Y/yJroJgo6Wp901S2aWz20awEWy2SaeFYGERCAQMCIKQQgQh/iA2NnY+gXkJMbjzpViTgQQxGlMk5MBt7j3zzbnDGMa//r4gk0Fs++RcsW1Ipw14fgYRKBZPF7pY9JnLpYEMh7xJXPf7yV1XeYOBAbEY8vT0fkm1CqZ5XPKbG+VMJkg8vu0aDsPjoz7e3sLZ2dfBpgn1utb3enBx8cEUCECzqaZWCzk/3w8PBOD+XuvabSQY3G2Wuzs1d7sQieyedygEnY76Hx72hgLTRGo1LRqPEcv67ItGod9XX6NxyFgNKJe1eDpFEglNblnIaKTvlcrBG+GDCgV/nwHmcySVgmQSmc22eyhIqXQUXJs4DnieD1ws/APgeYjjfAuu47q+hpcXHclmA/n8SeD6k6srWK1gvYZc7qRw/cnlJWSzPwL/1+/VK0r3eJh7FTh0AAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 15px;
}

header nav ul li .enlace .menu-item:hover #img {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAAYAAAAGAA8GtCzwAAAAd0SU1FB+cGBg8eFkZ35lUAAADaSURBVDjL5dE/K8QBGAfwzzn/HaVMJjF7JyabzXaLukVZbrExKINBKUUppQxSyr9ksdi8AkZvQOTua6PLuftZecanT0/P8334h1U2acpzQT2rzJOmWiFe0/TIpYh6V14XccGIcxHrSh34qogbozDgWMS2nra4ZFPEqaGv0/dEHOhtE8uuiEN9re0dEScGW3i/IxH730eVbIi4VvnsDTsTsfXDslZE3BoDFVci1jqFt6Qp7k0YdyealrvlXdUQDx5EQ7XIRxe8iXi3WITDnBev5otymDH9G/7H6wPIHUiRNShNAAAAAABJRU5ErkJggg==);
}

header nav ul li .enlace .nav-booking {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  background-color: #393E46;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  right: 15%;
  opacity: 0;
  z-index: 3;
  transform: translateY(-200px);
  transition: opacity 1s, transform 1s;
}

header nav ul li .enlace .nav-booking.active {
  opacity: 1;
  transform: translateY(0);
}

header nav ul li .enlace .nav-booking li .enlace {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
  transition: color 0.5s, background-color 0.5s;
}

header nav ul li .enlace .nav-booking li .enlace:hover {
  background-color: #EEEEEE;
  color: black;
}

header nav ul li .enlace .nav-user {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  background-color: #393E46;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  right: 0%;
  opacity: 0;
  z-index: 3;
  transform: translateY(-200px);
  transition: opacity 1s, transform 1s;
}

header nav ul li .enlace .nav-user.active {
  opacity: 1;
  transform: translateY(0);
}

header nav ul li .enlace .nav-user li .enlace {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
  transition: color 0.5s, background-color 0.5s;
}

header nav ul li .enlace .nav-user li .enlace:hover {
  background-color: #EEEEEE;
  color: black;
}

/* ====================
        NAV burguer
==================== */
.navbar-bg {
  background-color: #393E46;
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
}

.navbar-bg.active {
  border-radius: 0 0 80% 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}

/* Estilos para el botón hamburguesa */
.navbar-burger {
  position: relative;
  display: none;
  margin-right: 25px;
}

.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-5 span {
  background-color: #EEEEEE;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

/* ====================
        HOME
==================== */
#banner {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/salon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
}

#banner > h4 {
  color: #EEEEEE;
  font-family: "Dancing Script", sans-serif;
  font-size: 70px;
}

.slide-item {
  position: relative;
}

.slide-item img {
  width: 100%;
}

.slide-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.slide-item > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEEEEE;
  z-index: 1;
}

/* ====================
        LOGIN Y REGISTRO
==================== */
#containerLogin {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
  padding: 20px;
}

/* ====================
        NewCita y sus componentes
==================== */
#containerCita {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
  padding: 10px;
}

#calender {
  display: flex;
  justify-content: center;
  transition: all 2s ease-in-out;
  transform: translateX(0%);
  width: 40%;
  z-index: 2;
}

#calender.active {
  transform: translateX(-60%);
}

#formNewCita {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: absolute;
  top: 25%;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 3s ease-in, transform 2s ease-in;
}

#formNewCita.active {
  position: none;
  opacity: 1;
  transform: translateX(60%);
}

.selectTypeBooking.active {
  background-color: #1c2e47;
  color: #EEEEEE;
}

#btn-color {
  background-color: #1c2e47;
  color: #EEEEEE;
}

/* ====================
        BookingPending
==================== */
#imgbookingsPending {
  display: flex;
  justify-content: center;
}

#imgbookingsPending > img {
  padding: 0px 5px 0px 5px;
}

/* ====================
        404 page
==================== */
.page_404 {
  padding: 40px 0px;
  background-color: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff;
  padding: 10px 20px;
  background-color: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

/* ====================
        FOOTER
==================== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #1c2e47;
  padding: 20px;
  height: 167px;
  margin-top: 100px;
  color: #EEEEEE;
}

#footer #nav-footer ul {
  list-style: none;
  padding: 0px;
}

#footer #nav-footer ul li .enlace {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 0px 5px 5px;
  display: block;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

#footer #nav-footer ul li .enlace:hover {
  text-decoration: underline;
}

#social-media ul {
  position: relative;
  display: flex;
  transform: rotate(-10deg) skew(20deg);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

#social-media ul li {
  position: relative;
  list-style: none;
  width: 100%;
  height: 30px;
  margin: 0px 20px;
}

#social-media ul li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

#social-media ul li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

#social-media ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}

#social-media ul li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

#social-media ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

#social-media ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

#social-media ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

#social-media ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

#social-media ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

#social-media ul li:nth-child(1):hover span {
  background: #52E19F !important;
}

#social-media ul li:nth-child(2):hover span {
  background: #2C3456 !important;
}

#social-media ul li:nth-child(3):hover span {
  background: #EA6E96 !important;
}

#social-media ul li:nth-child(4):hover span {
  background: #FCEB00 !important;
}/*# sourceMappingURL=comunes.css.map */